.mainSection {  
  background-image: url('/assets/images/fr.freeimages.com:photo:blue-texture-1471925.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.mat-tab-group {
  width: 70%;
  height: 73%;
  background-color: rgba(245, 245, 220, 0.7);
  border-radius: 2px;
  box-shadow: 3px 3px 4px #020202;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 2.5em auto;
  padding: 0.5em 2em 2em;
}
.glContainerPage {
  width: 100% !important;
  height: 99% !important;
  overflow: unset !important;
  scroll-behavior: unset;
}
.glBodyPage {
  overflow: unset;
}
h3 {
  margin-bottom: 0;
}
p {
  margin-top: 0;
}
