<header>
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a> | </li>
      <li><a routerLink="/aboutteacher" routerLinkActive="active">About teacher</a> | </li>
      <li class="secondLevelUp" routerLinkActive="active"><a routerLink="/frenchCourses">French courses</a> |
        <ul class="secondLevel" >
          <li><a routerLink="/frenchCourses" fragment="howorks">How ts's works</a></li>
          <li><a routerLink="/frenchCourses" fragment="fees">Fees</a></li>
          <li><a routerLink="/frenchCourses" fragment="term">Term & Conditions</a></li>
          <li><a routerLink="/exercises">Exercises</a></li>
        </ul>
      </li>
      <li><a routerLink="/blog" routerLinkActive="active">Blog</a> | </li>
      <li><a routerLink="/more" routerLinkActive="active">News</a> | </li>
      <li class="secondLevelUp"><a routerLink="/login/login-form" routerLinkActive="active">Log in &nbsp;&nbsp;</a>
        <ul class="secondLevel" >
          <li><a routerLink="/login/signup-form">Sign up</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>