.logBox {
  background-color: rgb(242, 239, 239);
  box-shadow: 4px 4px 6px;
  width: 40%;
  padding: 2.5em;
  margin: 0 auto 2.5em;
}
.formReset {
  display: flex;
  flex-direction: column;
}
.formReset > * {
  width: 100%;
}
