.mainSection {
  background-image: url('/src/assets/images/fr.freeimages.com:photo:blue-texture-1471925.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}