/*
Some style come from global styleSheets file. styles.css like .sheetArticle class.
*/
.teacherPage {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/La-fete-du-pain-2.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fontFamily {
    font-family: 'American Typewriter', serif;
}
.aLink {
    align-self: flex-start;
}