/*
Some style come from global styleSheets file. styles.css like .sheetArticle class.
*/
.mainSection {
background-image: url('/src/assets/images/fr.freeimages.com:photo:blue-texture-1471925.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fontFamily {
  font-family: 'American Typewriter', serif;
}
.fontFamily:last-of-type {
  margin-bottom: 7em;
}
