<section class="mainSection">
    <app-menu></app-menu>
    <div class="glContainerPage teacherPage">
      <div class="glSheetArticle fontFamily">

      </div>
      <div class="glSheetArticle fontFamily">
        <h2>New article ..</h2>
        <form class="blogForm" [formGroup]="" method="POST">
          <mat-form-field appearance="standard">
            <mat-label>Title of this blog article.</mat-label>
            <input matInput placeholder="Title">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>My blog text I write here</mat-label>
            <textarea class="textBlogArticle" matInput placeholder="This history start..."></textarea>
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="submit()" >Publish it</button>
        </form>
      </div>
    </div>
  </section>
