/*
Some style come from global styleSheets file. styles.css like .sheetArticle class.
*/
.mainSection {
    background-image: url('/src/assets/images/Cooking-session-with-Gr-5.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* .teacherPage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.fontFamily {
    font-family: 'Bradley Hand', cursive;
}