<section class="contactFormBox">
  <app-menu></app-menu>
  <div class="signBox" >
    <form class="signinForm" [formGroup]="formContact" method="post">
      <mat-form-field>
        <input matInput type="text" placeholder="your name" formControlName="name" >
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="your@email.com" formControlName="email" >
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
          Email form is not valid
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="confirm your@email.com" formControlName="confirmEmail" >
        <mat-error *ngIf="confirmEmail.invalid && (confirmEmail.dirty || confirmEmail.touched)">
          <span *ngIf="confirmEmail.errors['appCompare']">Emails does not match</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput type="text" placeholder="Your message" formControlName="message"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="submit()" >Send</button>
    </form>
  </div>
</section>