<section class="mainSection" role="region">
  <app-menu></app-menu>
	<div class="glContainerPage">
		<mat-tab-group>
			<div class="glSheetArticle fontFamily" id="howorks">
				<mat-tab label="How it's works ?"> 				
					<h3>Skype connection.</h3>	
					<p><br>
						Lorem ipsum dolor sit amet, accusam nominavi vix ne. Pro cu apeirian recusabo,
						vis no detracto maluisset. In quis omittam vulputate vel, vix quidam viderer sanctus te.
						Ei primis vidisse saperet vel, eam augue paulo choro no.
						Prompta quaestio per in, et utinam omittantur conclusionemque sea. Agam brute sit te.
						Etiam commune ne his. Cu eirmod nominavi explicari vis. At laoreet constituto mei.
						At esse ignota vel, sed eu numquam conclusionemque. In hinc harum fastidii vix,
						per unum singulis explicari ea, reque aperiam at sed. Ut verterem menandri eum,
						sit ad quas inani voluptaria, vel et vivendum invenire explicari. His omnium atomorum delicatissimi ne.
						Et congue voluptaria eloquentiam sit, amet unum quo id. Summo impedit usu id.
						Te elitr mentitum atomorum pri. Iisque admodum apeirian cu est. Tractatos forensibus vel id.
						Est ne minimum petentium intellegam, aeque imperdiet molestiae nec cu. Cu his platonem efficiantur,
						munere laudem bonorum mea ad.
						Vim congue adipiscing in. Usu nonumes rationibus no, an vix doctus definitionem, ea nec nibh autem deseruisse.
						Qui vide feugait perpetua ex. Qui at nonumy recteque. No mea ullum delicata, te sonet graece efficiendi ius.
						Mollis graecis efficiantur sea an, meliore deserunt id duo, mea cu alii minimum iracundia.
						Eam possim aliquip vituperata ea, prima veniam eu nam, graeco pertinacia incorrupte ius at.
						</p>
						<p>Skype connection.<br>
						Lorem ipsum dolor sit amet, accusam nominavi vix ne. Pro cu apeirian recusabo,
						vis no detracto maluisset. In quis omittam vulputate vel, vix quidam viderer sanctus te.
						Ei primis vidisse saperet vel, eam augue paulo choro no.
						Prompta quaestio per in, et utinam omittantur conclusionemque sea. Agam brute sit te.
						Etiam commune ne his. Cu eirmod nominavi explicari vis. At laoreet constituto mei.
						At esse ignota vel, sed eu numquam conclusionemque. In hinc harum fastidii vix,
						per unum singulis explicari ea, reque aperiam at sed. Ut verterem menandri eum,
						sit ad quas inani voluptaria, vel et vivendum invenire explicari. His omnium atomorum delicatissimi ne.
						Et congue voluptaria eloquentiam sit, amet unum quo id. Summo impedit usu id.
						Te elitr mentitum atomorum pri. Iisque admodum apeirian cu est. Tractatos forensibus vel id.
						Est ne minimum petentium intellegam, aeque imperdiet molestiae nec cu. Cu his platonem efficiantur,
						munere laudem bonorum mea ad.
						Vim congue adipiscing in. Usu nonumes rationibus no, an vix doctus definitionem, ea nec nibh autem deseruisse.
						Qui vide feugait perpetua ex. Qui at nonumy recteque. No mea ullum delicata, te sonet graece efficiendi ius.
						Mollis graecis efficiantur sea an, meliore deserunt id duo, mea cu alii minimum iracundia.
						Eam possim aliquip vituperata ea, prima veniam eu nam, graeco pertinacia incorrupte ius at.
						</p>
				</mat-tab>
				<mat-tab label="Fees">
					<h3>french courses</h3>
					<p><br>
									Lorem ipsum dolor sit amet, accusam nominavi vix ne. Pro cu apeirian recusabo,
									vis no detracto maluisset. In quis omittam vulputate vel, vix quidam viderer sanctus te.
									Ei primis vidisse saperet vel, eam augue paulo choro no.
									Prompta quaestio per in, et utinam omittantur conclusionemque sea. Agam brute sit te.
									Etiam commune ne his. Cu eirmod nominavi explicari vis. At laoreet constituto mei.
									At esse ignota vel, sed eu numquam conclusionemque. In hinc harum fastidii vix,
									per unum singulis explicari ea, reque aperiam at sed. Ut verterem menandri eum,
									sit ad quas inani voluptaria, vel et vivendum invenire explicari. His omnium atomorum delicatissimi ne.
									Et congue voluptaria eloquentiam sit, amet unum quo id. Summo impedit usu id.
									Te elitr mentitum atomorum pri. Iisque admodum apeirian cu est. Tractatos forensibus vel id.
									Est ne minimum petentium intellegam, aeque imperdiet molestiae nec cu. Cu his platonem efficiantur,
									munere laudem bonorum mea ad.
									Vim congue adipiscing in. Usu nonumes rationibus no, an vix doctus definitionem, ea nec nibh autem deseruisse.
									Qui vide feugait perpetua ex. Qui at nonumy recteque. No mea ullum delicata, te sonet graece efficiendi ius.
									Mollis graecis efficiantur sea an, meliore deserunt id duo, mea cu alii minimum iracundia.
									Eam possim aliquip vituperata ea, prima veniam eu nam, graeco pertinacia incorrupte ius at.
					</p>
					<p>french courses<br>
									Lorem ipsum dolor sit amet, accusam nominavi vix ne. Pro cu apeirian recusabo,
									vis no detracto maluisset. In quis omittam vulputate vel, vix quidam viderer sanctus te.
									Ei primis vidisse saperet vel, eam augue paulo choro no.
									Prompta quaestio per in, et utinam omittantur conclusionemque sea. Agam brute sit te.
									Etiam commune ne his. Cu eirmod nominavi explicari vis. At laoreet constituto mei.
									At esse ignota vel, sed eu numquam conclusionemque. In hinc harum fastidii vix,
									per unum singulis explicari ea, reque aperiam at sed. Ut verterem menandri eum,
									sit ad quas inani voluptaria, vel et vivendum invenire explicari. His omnium atomorum delicatissimi ne.
									Et congue voluptaria eloquentiam sit, amet unum quo id. Summo impedit usu id.
									Te elitr mentitum atomorum pri. Iisque admodum apeirian cu est. Tractatos forensibus vel id.
									Est ne minimum petentium intellegam, aeque imperdiet molestiae nec cu. Cu his platonem efficiantur,
									munere laudem bonorum mea ad.
									Vim congue adipiscing in. Usu nonumes rationibus no, an vix doctus definitionem, ea nec nibh autem deseruisse.
									Qui vide feugait perpetua ex. Qui at nonumy recteque. No mea ullum delicata, te sonet graece efficiendi ius.
									Mollis graecis efficiantur sea an, meliore deserunt id duo, mea cu alii minimum iracundia.
									Eam possim aliquip vituperata ea, prima veniam eu nam, graeco pertinacia incorrupte ius at.
					</p>
				</mat-tab>
				<mat-tab label="Term & conditions.">
					<h3>french courses</h3>
					<p><br>
											Lorem ipsum dolor sit amet, accusam nominavi vix ne. Pro cu apeirian recusabo,
											vis no detracto maluisset. In quis omittam vulputate vel, vix quidam viderer sanctus te.
											Ei primis vidisse saperet vel, eam augue paulo choro no.
											Prompta quaestio per in, et utinam omittantur conclusionemque sea. Agam brute sit te.
											Etiam commune ne his. Cu eirmod nominavi explicari vis. At laoreet constituto mei.
											At esse ignota vel, sed eu numquam conclusionemque. In hinc harum fastidii vix,
											per unum singulis explicari ea, reque aperiam at sed. Ut verterem menandri eum,
											sit ad quas inani voluptaria, vel et vivendum invenire explicari. His omnium atomorum delicatissimi ne.
											Et congue voluptaria eloquentiam sit, amet unum quo id. Summo impedit usu id.
											Te elitr mentitum atomorum pri. Iisque admodum apeirian cu est. Tractatos forensibus vel id.
											Est ne minimum petentium intellegam, aeque imperdiet molestiae nec cu. Cu his platonem efficiantur,
											munere laudem bonorum mea ad.
											Vim congue adipiscing in. Usu nonumes rationibus no, an vix doctus definitionem, ea nec nibh autem deseruisse.
											Qui vide feugait perpetua ex. Qui at nonumy recteque. No mea ullum delicata, te sonet graece efficiendi ius.
											Mollis graecis efficiantur sea an, meliore deserunt id duo, mea cu alii minimum iracundia.
											Eam possim aliquip vituperata ea, prima veniam eu nam, graeco pertinacia incorrupte ius at.
					</p>
					<p>french courses<br>
											Lorem ipsum dolor sit amet, accusam nominavi vix ne. Pro cu apeirian recusabo,
											vis no detracto maluisset. In quis omittam vulputate vel, vix quidam viderer sanctus te.
											Ei primis vidisse saperet vel, eam augue paulo choro no.
											Prompta quaestio per in, et utinam omittantur conclusionemque sea. Agam brute sit te.
											Etiam commune ne his. Cu eirmod nominavi explicari vis. At laoreet constituto mei.
											At esse ignota vel, sed eu numquam conclusionemque. In hinc harum fastidii vix,
											per unum singulis explicari ea, reque aperiam at sed. Ut verterem menandri eum,
											sit ad quas inani voluptaria, vel et vivendum invenire explicari. His omnium atomorum delicatissimi ne.
											Et congue voluptaria eloquentiam sit, amet unum quo id. Summo impedit usu id.
											Te elitr mentitum atomorum pri. Iisque admodum apeirian cu est. Tractatos forensibus vel id.
											Est ne minimum petentium intellegam, aeque imperdiet molestiae nec cu. Cu his platonem efficiantur,
											munere laudem bonorum mea ad.
											Vim congue adipiscing in. Usu nonumes rationibus no, an vix doctus definitionem, ea nec nibh autem deseruisse.
											Qui vide feugait perpetua ex. Qui at nonumy recteque. No mea ullum delicata, te sonet graece efficiendi ius.
											Mollis graecis efficiantur sea an, meliore deserunt id duo, mea cu alii minimum iracundia.
											Eam possim aliquip vituperata ea, prima veniam eu nam, graeco pertinacia incorrupte ius at.
					</p>
				</mat-tab>
			</div>
		</mat-tab-group>
	</div>
</section>