<header role="banner">
  <nav role="navigation" aria-label="Main navigation">
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li class="secondLevelUp"><a routerLink="/frenchCourses" routerLinkActive="active">Courses</a>
        <ul class="secondLevel forOnePage" >
          <li><a class="onePage" routerLink="/frenchCourses" >How it's works</a></li>
          <li><a class="onePage" routerLink="/frenchCourses" >Fees</a></li>
          <li><a class="onePage" routerLink="/frenchCourses" >Term & Conditions</a></li>
          <li><a routerLink="/exercises">Exercises</a></li>
        </ul>
      </li>
      <li><a routerLink="/resources" routerLinkActive="active">Resources</a></li>
      <li><a routerLink="/news" routerLinkActive="active">News</a></li>
      <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>
      <li class="secondLevelUp">
        <a *ngIf="!isLoggedIn" routerLink="/login/login-form" routerLinkActive="active">Log in / register&nbsp;&nbsp;</a>
        <a *ngIf="isLoggedIn" routerLink="" routerLinkActive="active" (click)="logout()" >Log out &nbsp;&nbsp;</a>
      </li>
    </ul>
  </nav>
</header>