<section class="homeBody">
<app-menu></app-menu>
  <main>

  </main>
  <footer>
    <hr>
    <div>
      <ul class="footerUl">
        <li>Legacy</li>
        <li>
          <table>
            <tr>
              <td>Contact</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>email :</td>
              <td>v.teacher@gmail.com</td>
            </tr>
            <tr>
              <td></td>
              <td>tel :</td>
              <td>0033 6 06 06 06 06</td>
            </tr>
          </table>
        </li>
        <li class="rightsParaf">All rights reserved | pamento&copy;rights 2015-2018</li>
      </ul>
    </div>
  </footer>
</section>