<header>
  <div class="logoImage">
    <img src="./assets/images/logo.jpg" alt="Valeri's logo" srcset="">
  </div>
  <nav>
    <ul>
      <li><a routerLink="/aboutteacher">About teacher</a> | </li>
      <li><a routerLink="/">French courses</a> | </li>
      <li><a routerLink="/">Blog</a> | </li>
      <li><a routerLink="/">More</a> | </li>
      <li><a routerLink="/">Log in</a></li>
    </ul>
  </nav>
</header>
<main>

</main>
<footer>
  <div>
    <p>Legacy</p>
    <p>Contact</p>
  </div>
  <hr>
  <p class="rightsParaf">All rights reserved | pamento&copy;rights 2015-2018</p>
</footer>