<section class="homeBody">
<app-menu></app-menu>
  <div class="mainSlogan">
    <!--
    <img src="/src/assets/images/site-title-m2.png"
    alt="Do you want to speak French ?
    Let's speak with me">

    <h1>Do you want to speak French ?<br />
      Let's speak with me :)</h1>
    -->
  </div>
  <main>

  </main>
  <footer>
    <hr>
    <div>
      <ul class="footerUl">
        <li>Legacy</li>
        <li>
          <table>
            <tr>
              <td>Contact</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td>email :</td>
              <td>v.teacher@gmail.com</td>
            </tr>
            <tr>
              <td></td>
              <td>tel :</td>
              <td>0033 6 06 06 06 06</td>
            </tr>
          </table>
        </li>
        <li class="rightsParaf">All rights reserved | pamento&copy;rights 2015-2018</li>
      </ul>
    </div>
  </footer>
</section>